@model IEnumerable<ContactsMVC.Models.DTO.ContactDTO>
<br />
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">Contact List</h1>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					Email
				</th>
				<th>
					Contact Type
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.PhoneNumber</td>
					<td>@item.Email</td>
					<td>@item.ContactType</td>
				</tr>
			}
		</tbody>
	</table>

</div>