@model ContactsMVC.Models.DTO.ContactDTO

<form asp-action="DeleteContact">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Contact</h1>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" disabled class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PhoneNumber" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PhoneNumber" disabled class="form-control" type="tel" placeholder="Enter your phone number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="DateOfBirth" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DateOfBirth" disabled class="form-control" type="date" placeholder="Select your birth date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Password" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Password" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="ContactType" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="ContactType" disabled class="form-control" id="contactTypeSelect">
                    <option value="Personal">Personal</option>
                    <option value="Buisness">Buisness</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="ContactType" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexContact" asp-controller="Contact" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}